{% extends 'base.html' %}
{% load static %}

{% block titulo %}- Buscador{% endblock %}

{% block content %}
<div class="container">
    <h1 class="main-title">{{info_web.titulo}}</h1>

    {% if info_web.es_servicio %}
        {% if info_web.filtered %}
            <div class="service-list">
                {% for d, t in data %}
                    <div class="service-item">
                        <p>
                            Servicio de viaje (ID: {{d.pk}})<br>
                            Fecha de salida: {{d.fecha_partida|date:"d-m-Y"}}<br>
                            <a href={% url 'hacer_reserva' d.pk t %} class="btn btn-primary">Reservar ahora</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="service-list">
                {% for d in data %}
                    <div class="service-item">
                        <p>
                            Servicio de viaje (ID: {{d.pk}})<br>
                            Fecha de salida: {{d.fecha_partida|date:"d-m-Y"}}<br>
                            <a href={% url 'hacer_reserva' d.pk "all" %} class="btn btn-primary">Reservar ahora</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div class="vehicle-list">
            {% for d in data %}
                <div class="vehicle-item">
                    <p>
                        Vehículo (ID: {{d.pk}})<br>
                        Patente: {{d.patente}} - {% if d.disponibilidad %}EN SERVICIO{% else %}EN MANTENIMIENTO{% endif %}
                        <a href={% url 'mantenimiento_unidades' d.pk %} class="btn btn-primary">Administrar unidad</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}